body {
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #f4f4f4;
    text-align: center;
}

.container {
    background: white;
    padding: 20px;
    width: 90%;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    background: white;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

button {
    background-color: #f74658;
    color: white;
    border: none;
    padding: 12px 17px;
    cursor: pointer;
    border-radius: 3px;
    transition: background 0.3s ease-in-out;
}

button:hover {
    background-color: #c82333;
}

ul {
    padding-left: 20px;
}

ul li {
    margin: 5px 0;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delete-btn {
    background-color: #ff5733;
    border: none;
    color: white;
    padding: 4px 8px;
    font-size: 12px;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 5px;
}

.delete-btn:hover {
    background-color: #c70039;
}

a.btn {
    display: inline-block;
    margin-top: 15px;
    text-decoration: none;
    padding: 10px 15px;
    background: #4CAF50;
    color: white;
    border-radius: 5px;
}

a.btn:hover {
    background: #175e19cc;
}
